<div class="translucent-form-overlay">
  <form class="new-post-form">
    <h3>Add a New Tech Post to the Blog</h3>
    <div class="row columns">
      <label>Post Title
        <input type="text" name="post-name" placeholder="Any">
      </label>
    </div>
     <div class="row columns">
      <label for="post-description">Tech Post 
        <input type="text" name="post-description" placeholder="Any">
      </label>
    </div>
  <input class="new-post-form" type="submit" value="Submit">
  </form>
</div>

{{!-- have not touched this yet, EM --}}

{{#if posts.length}}
<div class="col-md-6 post-list">
  <h3>Current Posts:</h3>

  {{#each posts as |post|}}
  <div class="row mb-2">
    <div class="col-md-8">
      <h4><a href="/post/{{post.id}}">{{post.name}}</a></h4>
    </div>
    <div class="col-md-4">
      <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
</div>

<script src="./js/post.js"></script>