<div class="work-feature-block row">
  <div class="columns medium-7">
    <img class="work-feature-block-image" src="/images/posts/{{post.filename}}"/>
  </div>
  <br>
  <div class="columns medium-5">
    <h1>{{post.name}}</h1>
    <h3 class="work-feature-block-header">Post Description</h3>
    <p>{{post.description}}</p>
    <h3>Post Details</h2>
  </div>
</div>

