<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">


<div class="row forms-align">
<form class="signup-form">
  <div class="sign-in-form">
    <h4 class="text-center">SIGN UP</h4>
     <label for="sign-in-form-name">FULL NAME</label>
    <input type="text" class="sign-in-form-name" id="sign-in-form-name">
    <label for="sign-in-form-username">Email</label>
    <input type="text" class="sign-in-form-username" id="sign-in-form-username">
    <label for="sign-in-form-password">Password</label>
    <input type="text" class="sign-in-form-password" id="sign-in-form-password">
    <button type="submit" class="sign-in-form-button">SIGN UP</button>
  </div>
</form>
</div>
</div>

<form class="login-form">
  <div class="sign-in-form">
    <h4 class="text-center">LOGIN</h4>
    <label for="sign-in-form-username">Email</label>
    <input type="text" class="sign-in-form-username" id="login-form-username">
    <label for="sign-in-form-password">Password</label>
    <input type="text" class="sign-in-form-password" id="login-form-password">
    <button type="submit" class="sign-in-form-button">LOGIN</button>
  </div>
</form>
</div>



<script src="./js/login.js"></script>