
<div class="work-feature-block row">
  <div class="columns medium-7">
    <img class="work-feature-block-image" src="/images/plants/{{plant.filename}}"/>
  </div>
  <br>
  <div class="columns medium-5">
    <h1>{{plant.name}}</h1>
    <h3 class="work-feature-block-header">Post Description</h3>
    <p>{{plant.description}}</p>
  </div>
</div>

